"*":
  "exception-reporting":
    userId: "f203fcbf-16a6-64dd-cb31-d0cdfdfc43b9"
  welcome:
    showOnStartup: false
  "terminal-plus":
    core: {}
    style:
      animationSpeed: 0
      defaultPanelHeight: "100%"
  core: {}
  editor:
    invisibles: {}
